* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.titulo {
  text-align: center;
  color: white;
  font-size: 60px;
  font-family: "Courier New", Courier, monospace;
}
body {
  font-family: "Lucida Sans", sans-serif;
}
.fpantalla {
  background-image: url("./imagenes/fondodepagina.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
main {
  width: 60%;
  margin: auto;
  padding: 20px 0 0 0;
}
main input {
  width: 100%;
  padding: 12px;
  font-size: 30px;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  border: 2px solid red;
  font-weight: 100;
  margin-bottom: 20px;
}
section {
  position: absolute;
  box-shadow: -6px -2px 25px -13px rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  padding: 30px;
  transition: all 0.2s;
  background-color: rgb(113, 113, 220);
}
section h2 {
  position: absolute;
  top: 15%;
  right: 10px;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
  color: blue;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.2);
  background: url("./imagenes/carrito.png") no-repeat rgb(113, 113, 220);
  background-size: 60%;
  background-position: 9px center;
}
section h2 span {
  display: block;
  background-color: #d15280;
  border-radius: 150px;
  padding: 5px;
  width: 30px;
  text-align: center;
  font-size: 14px;
  margin: -10px 0 0 30px;
}
section h3 {
  padding-top: 10px;
  text-align: center;
  font-size: 20px;
}
.btnAgregar,
.btnQuitar {
  color: white;
  background-color: gray;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
  border: 2px solid black;
  transition: all 0.2s;
}
.btnAgregar:hover,
.btnQuitar:hover {
  border: 2px solid red;
  scale: 1.05;
}
.productoCarrito {
  border-bottom: 2px dashed rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  margin-bottom: 10px;
  line-height: 24px;
}
.productoCarrito h3 {
  margin-bottom: 8px;
}
.ocultar {
  right: 100%;
  transition: all 0.3s;
}
#productos {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  height: auto;
}
.producto {
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  text-align: center;
}
.producto .precio {
  padding: 10px 0;
  font-size: 20px;
  background-color: lightblue;
  display: inline-block;
  padding: 4px 10px;
  color: black;
  border-radius: 10px;
  margin-top: 4px;
}
.producto .imagen {
  display: flex;
  justify-content: center;
  min-height: 100px;
  margin: 20px 0;
  width: 100%;
}
.producto .imagen img {
  max-height: 100px;
}
.producto .btnAgregar {
  margin: auto;
  display: block;
  text-align: center;
}
.producto:hover {
  border: 2px solid black;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.2);
}
#scroll {
  max-height: calc(100% - 100px);
  overflow-y: auto;
  padding-left: 5px;
}
